<footer>
  <div class="menu">
    <h3>МЕНЮ</h3>
    <ul>
      <li>
        <a [routerLink]="[ '/product-category', 'pizza' ]" routerLinkActive="active" class="nav-link">Піца</a>
      </li>
      <li>
        <a [routerLink]="[ '/product-category', 'rolls' ]" routerLinkActive="active" class="nav-link">Роли</a>
      </li>
      <li>
        <a [routerLink]="[ '/product-category', 'wok' ]" routerLinkActive="active" class="nav-link">Wok</a>
      </li>
      <li>
        <a [routerLink]="[ '/product-category', 'sets' ]" routerLinkActive="active" class="nav-link">Суші сети</a>
      </li>
      <li>
        <a [routerLink]="[ '/product-category', 'sushi' ]" routerLinkActive="active" class="nav-link">Суші</a>
      </li>
      <li>
        <a [routerLink]="[ '/product-category', 'soups-salads' ]" routerLinkActive="active" class="nav-link">Супи,
          салати
        </a>
      </li>
      <li>
        <a [routerLink]="[ '/product-category', 'desserts' ]" routerLinkActive="active" class="nav-link">Десерти</a>
      </li>
      <li>
        <a [routerLink]="[ '/product-category', 'drinks' ]" routerLinkActive="active" class="nav-link">Напої</a>
      </li>
    </ul>
  </div>
  <div class="about">
    <h3>ПРО НАС</h3>
    <ul>
      <li>
        <a [routerLink]="['/pro-nas']" routerLinkActive="active">Про нас</a>
      </li>
      <li>
        <a [routerLink]="['/sertifikati']" routerLinkActive="active">Сертифікати</a>
      </li>
      <li>
        <a [routerLink]="['/promotions']" routerLinkActive="active">Акції</a>
      </li>
      <li>
        <a [routerLink]="['/yak-zamoviti']" routerLinkActive="active">Як замовити</a>
      </li>
      <li>
        <a [routerLink]="['/vidguki']" routerLinkActive="active">Відгуки про Орігамі</a>
      </li>
      <li>
        <a [routerLink]="['/contacts']" routerLinkActive="active">Контакти</a>
      </li>
    </ul>
  </div>
  <div class="contacts">
    <h3>ТЕЛЕФОНИ ДЛЯ ЗАМОВЛЕНЬ</h3>
    <div class="numbers">
      <a href="tel:380969022555">+380969022555</a>
      <a href="tel:380667022555">+380667022555</a>
      <a href="tel:380936322555">+380936322555</a>
    </div>
    <hr>
    <a href="https://www.facebook.com/origami.lviv.ua/" target="_blank" class="fb">
        <div class="facebook"></div>
    </a>
  </div>
  <div class="info">
      <img src="https://origami.lviv.ua/_nuxt/f2f7469.png" alt="" [style.width]="'165px'">
      <p>Оцінка компанії: <b>4</b></p>
      <p>Всього відгуків: <b>280</b></p>
      <a [routerLink]="['/vidguki']">Всі відгуки про Орігамі</a>
  </div>
</footer>
