<div class="row">
  <i class="uis uis-bars" (click)="showNav()"></i>
  <img src="../../../assets/images/52d8c3b.png" alt="">
</div>
<a [routerLink]="['/cart']">
  <div class="cart">
    <p>{{totalCount}}</p>
    <img src="../../../assets/images/shopping-cart.svg" alt="">
    <p class="price">{{totalPrice}} грн</p>
  </div>
</a>
<div class="header" [ngClass]="{'show': isShow}">
  <div class="header-main">
    <a [routerLink]="['']" class="origami-img">
      <img src="https://origami.lviv.ua/_nuxt/f2f7469.png" alt="" class="logo">
    </a>
    <div class="top-header">
      <div class="language">
        <a [routerLink]="['']" tabindex="1">UA</a>
        <a [routerLink]="['']" tabindex="1">RU</a>
        <a [routerLink]="['']" tabindex="1">EN</a>
      </div>
      <div>
        <ul class="top-menu">
          <li>
            <a tabindex="1" [routerLink]="['/pro-nas']" routerLinkActive="active">Про нас</a>
          </li>
          <li>
            <a tabindex="1" [routerLink]="['/yak-zamoviti']" routerLinkActive="active">Як замовити</a>
          </li>
          <li>
            <a tabindex="1" [routerLink]="['/sertifikati']" routerLinkActive="active">Сертифікати</a>
          </li>
          <li>
            <a tabindex="1" [routerLink]="['/vidguki']" routerLinkActive="active">Відгуки</a>
          </li>
          <li>
            <a tabindex="1" [routerLink]="['/promotions']" routerLinkActive="active">Акції</a>
          </li>
          <li>
            <a tabindex="1" [routerLink]="['/login']" routerLinkActive="active">Увійти</a>
          </li>
        </ul>
      </div>
      <img src="../../../assets/images/close.svg" [style.width]="'19px'" class="close" (click)="showNav()">
    </div>
    <div class="middle-header">
      <p>Безкоштовна доставка по Львову від 149 грн</p>
      <div class="info">
        <div class="phone">
          <a href="tel:380969022555">+38(096)90-22-555</a>
        </div>
        <div class="shedule">
          <i class="uis uis-clock-three" [style.fontSize]="'18px'"></i>
          10:00-02:00</div>
      </div>
    </div>
    <div class="menu-header">
      <ul class="menu">
        <li [routerLink]="[ '/product-category', 'pizza' ]">
          <img src="../../../assets/images/pizza-slice.svg" alt="" [style.width]="'35px'"
            [style.margin]="'5px auto 12px'">
          <a routerLinkActive="category-nav" class="nav-link" tabindex="1">Піца</a>
        </li>
        <li [routerLink]="[ '/product-category', 'rolls' ]">
          <img src="../../../assets/images/roll.svg" alt="" [style.width]="'30px'" [style.margin]="'auto'">
          <a routerLinkActive="category-nav" class="nav-link" tabindex="1">Роли</a>
        </li>
        <li [routerLink]="[ '/product-category', 'wok' ]">
          <img src="../../../assets/images/noodles.svg" alt="" [style.width]="'35px'" [style.margin]="'auto'">
          <a routerLinkActive="category-nav" class="nav-link" tabindex="1">Wok</a>
        </li>
        <li [routerLink]="[ '/product-category', 'sets' ]">
          <img src="../../../assets/images/sushi-set.svg" alt="" [style.width]="'40px'" [style.margin]="'auto'">
          <a routerLinkActive="category-nav" class="nav-link" tabindex="1">Суші
            сети</a>
        </li>
        <li [routerLink]="[ '/product-category', 'sushi' ]">
          <img src="../../../assets/images/sushi.svg" alt="" [style.width]="'40px'" [style.margin]="'auto'">
          <a routerLinkActive="category-nav" class="nav-link" tabindex="1">Суші</a>
        </li>
        <li [routerLink]="[ '/product-category', 'soups-salads' ]">
          <img src="../../../assets/images/bowl.svg" alt="" [style.width]="'35px'" [style.margin]="'auto'">
          <a routerLinkActive="category-nav" class="nav-link" tabindex="1">Супи,
            салати
          </a>
        </li>
        <li [routerLink]="[ '/product-category', 'desserts' ]">
          <img src="../../../assets/images/cake.svg" alt="" [style.width]="'35px'" [style.margin]="'auto'">
          <a routerLinkActive="category-nav" class="nav-link" tabindex="1">Десерти</a>
        </li>
        <li [routerLink]="[ '/product-category', 'drinks' ]">
          <img src="../../../assets/images/smoothie.svg" alt="" [style.width]="'40px'" [style.margin]="'auto'">
          <a routerLinkActive="category-nav" class="nav-link" tabindex="1">Напої</a>
        </li>
        <li [routerLink]="[ '/hits']">
          <img src="../../../assets/images/favorites.svg" alt="" [style.width]="'35px'" [style.margin]="'auto'">
          <a routerLinkActive="category-nav" class="nav-link" tabindex="1">Хіти</a>
        </li>
      </ul>
    </div>
  </div>
</div>
