<div class="site-content">
  <div class="discr-item" *ngFor="let homeprod of userProduct">
    <div class="sale-wrapper" *ngIf="homeprod.category.path == 'discounts'">-20%</div>
      <a [routerLink]="['/products-category/'+homeprod.category.path, homeprod.id]"><img class="prod-img"
          [src]="homeprod.image"></a>
      <h3>
        <a [routerLink]="['/products-category/'+homeprod.category.path, homeprod.id]"
          routerLinkActive="router-link-active" [ngClass]="{'titleColor': homeprod.category.path == 'pizza'}">{{homeprod.title}}</a>
      </h3>
      <p class="description">{{homeprod.description}}</p>
      <div class="detailes"><span class="price-sushi-rolls-pizza" [ngClass]="{'titleColor': homeprod.category.path == 'discounts'}">{{homeprod.price * homeprod.count}} грн</span><span
          class="weight">{{homeprod.weight}}</span></div>
      <div class="prodCount">
        <button (click)="countProduct(homeprod, false)"><i class="uil uil-minus"></i></button>
        <input type="text" [(ngModel)]="homeprod.count">
        <button (click)="countProduct(homeprod, true)"><i class="uil uil-plus"></i></button>
      </div>
      <button class="order" (click)="addToCart(homeprod)">ЗАМОВИТИ</button>
  </div>
</div>
