@import '../../shared/style/fonts.scss';

.site-content {
  max-width: 1170px;
  margin: auto;
}

h1 {
  text-align: center;
  margin: 20px auto 10px;
  padding: 20px 0 2px;

  span {
    border-bottom: 5px solid #fe4c2b;
    font-size: 30px;
    font-family: 'FuturaMediumC';
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
  }
}

.page-content {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  width: 100%;
  border: 1px solid #bebebe;
  padding: 20px 20px 10px;
  font-family: 'FuturaBookC';
  font-size: 18px;
  line-height: 1.3em;
  margin: 30px 0 40px;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.item-image {
  width: 50%;
  padding: 0 15px;
}

.card-body {
  width: 50%;
  padding: 0 15px;
}

.price-sushi-rolls-pizza {
  margin-right: 2px;
  font-size: 25px;
  font-family: 'FuturaMediumC';
}

.weight {
  font-family: 'FuturaBookC';
  font-size: 18px;
  line-height: 1.3em;
  margin-top: 3px;
}

.detailes {
  text-align: center;
}

.prodCount {
  width: 100px;
  margin: 25px auto 0;
  font-size: 26px;
  font-family: 'FuturaMediumC';
  display: flex;
  justify-content: space-around;

  button {
    border: none;
    background-color: transparent;
    font-size: 26px;
  }

  input {
    font-family: 'FuturaMediumC';
    font-size: 26px;
    width: 56px;
    border: none;
    outline: none;
    text-align: center;
  }
}

.order {
  width: 130px;
  margin: 10px auto 0;
  color: #fff;
  background: #fe4c2b;
  font-size: 19px;
  padding: 13px 10px 12px !important;
  border: #fe4c2b;
  outline: none;
  text-align: center;
  display: flex;
}

.detailes {
  text-align: center;
  margin-top: 25px;
}

hr {
  border: 1px solid #11c459;
  margin: 15px 0;
}

.someText {
  margin: 30px 0 43px;
}

.way {
  max-width: 1170px;
  margin: auto;
  display: flex;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin: 25px 0 0;
  font-size: 15px;
  padding: 5px 15px;
  font-family: 'FuturaBookC';

  a {
    margin-right: 10px;
    color: #337ab7;
  }

  span {
    margin-right: 10px;
  }
}

.active {
    color: black;
    text-decoration: none;
}

.backToHome {
    background: #fe4c2b;
    color: #fff;
    font-size: 19px;
    padding: 13px 10px 12px!important;
    border: none;
    outline: none;
    margin: 0 auto 30px;
    display: flex;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .card-body {
    text-align: center;
    margin-top: 30px;
  }
}

@media (max-width: 415px) {
  .card-img-top {
    max-width: 268px;
  }
}