@import '../../shared/style/fonts.scss';

.site-content {
  max-width: 1140px;
  margin: 20px auto 15px;
  font-family: 'FuturaMediumC';
  padding: 0 10px;
}

h1 {
  padding-top: 20px;
  padding-bottom: 2px;
  border-bottom: 5px solid #fe4c2b;
  font-size: 30px;
  max-width: 72.78px;
  margin: 20px auto 10px;
  font-weight: 500;
  line-height: 1.1;
}

h3 {
  text-align: justify;
  font-size: 24px;
  margin: 20px 0 10px;
  font-weight: 500;
  line-height: 1.1;
}

img {
  margin: 25px 0;
  width: 100%;
}
