.site-content {
    width: 1140px;
    margin: 20px auto 15px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 2px;
    border-bottom: 5px solid #fe4c2b;
    font-size: 30px;
    width: 72.78px;
    margin: 20px auto 10px;
}

h3 {
    text-align: justify;
    font-size: 24px;
    margin: 20px 0 10px;
    font-weight: 500;
    line-height: 1.1;
}

img {
    margin: 25px 0;
}