<div class="site-content">
  <h1>АКЦІЇ</h1>
  <div class="discounts">
    <h3>*Акції між собою не сумуються</h3>
    <h3>*Акція "Щасливі години -25%" діє в період з 12.00 до 16.00 з понеділка по четвер лише на ті замовлення, що
      оформлені на найближчий час.</h3>
    <h3>Знижка не розповсюджується на десерти, напої і акційні товари, що вже є зі знижкою -20%.</h3>
    <img src="https://origami.lviv.ua/image/ws6ywctr1f/znl0yq4jn72s.jpg" alt="" [style.width]="'1140px'">
    <img src="https://origami.lviv.ua/image/ws6ywctr1f/raadrhzo7npk.jpg" alt="" [style.width]="'1140px'">
    <img src="https://origami.lviv.ua/image/ws6ywctr1f/dqqfbetgyznf.jpg" alt="" [style.width]="'1140px'">
    <img src="https://origami.lviv.ua/image/ws6ywctr1f/16056977835fb500f76c874.png" alt="" [style.width]="'1140px'">
  </div>
</div>
