<div class="site-content">
  <h1>КОНТАКТИ</h1>
  <p>Якщо у Вас виникли питання, зв'яжіться з нами будь-яким зручним способом. Радісно вам допоможемо!</p>
  <div class="contacts">
    <img src="../../../assets/images/black-phone-auricular.svg" alt="" [style.width]="'20px'">
    <div class="numbers">
      <ul>
        <li><a tabindex="1" href="tel:38(096)9022555">+38 (096) 90-22-555</a></li>
        <li><a tabindex="1" href="tel:38(066)7022555">+38 (066) 70-22-555</a></li>
        <li><a tabindex="1" href="tel:38(093)6322555">+38 (093) 63-22-555</a></li>
      </ul>
      <p>(10.00 - 02:00)</p>
    </div>
  </div>
</div>
