<div class="site-content">
  <h1>СЕРТИФІКАТИ</h1>
  <div class="sertif">
    <img src="https://origami.lviv.ua/_nuxt/7e76789.jpg" alt="" [style.width]="'450px'" class="photo1">
    <img src="https://origami.lviv.ua/_nuxt/7ff7522.jpg" alt="" [style.width]="'450px'" class="photo2">
    <img src="https://origami.lviv.ua/_nuxt/9386dfe.jpg" alt="" [style.width]="'450px'" class="photo3">
    <img src="https://origami.lviv.ua/_nuxt/5405a4d.jpg" alt="" [style.width]="'450px'" class="photo4">
    <img src="https://origami.lviv.ua/_nuxt/be4de95.jpg" alt="" [style.width]="'450px'" class="photo5">
    <img src="https://origami.lviv.ua/_nuxt/e3f8cf2.jpg" alt="" [style.width]="'450px'" class="photo6">
    <img src="https://origami.lviv.ua/_nuxt/2e07eed.jpg" alt="" [style.width]="'450px'" class="photo7">
    <img src="https://origami.lviv.ua/_nuxt/c50bf00.jpg" alt="" [style.width]="'450px'" class="photo8">
    <img src="https://origami.lviv.ua/_nuxt/cdd71bb.jpg" alt="" [style.width]="'450px'" class="photo9">
    <img src="https://origami.lviv.ua/_nuxt/c5615e7.jpg" alt="" [style.width]="'450px'" class="photo10">
    <img src="https://origami.lviv.ua/_nuxt/ea04244.jpg" alt="" [style.width]="'450px'" class="photo11">
    <img src="https://origami.lviv.ua/_nuxt/04766a6.jpg" alt="" [style.width]="'450px'" class="photo12">
  </div>
</div>
