.article {
    margin: auto;
    width: 945px;
}

p {
    text-align: justify;
    margin-bottom: 43px;
}

h1 {
    padding: 20px 0 12px;
    border-bottom: 5px solid #fe4c2b;
    margin: 20px auto 10px;
    font-size: 30px;
    width: 121.48px;
}

a {
    color: #337ab7;
}

.row {
    margin: 30px 0;
}