.article {
    margin: auto;
    width: 945px;
}

p {
    text-align: justify;
}

h1 {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 2px;
    border-bottom: 5px solid #fe4c2b;
    margin: auto;
    font-size: 30px;
}