<div class="article">
  <h1>ПРО НАС</h1>
  <div class="row">
    <p><a [routerLink]="['']">Доставка Орігамі Суші Львів</a> — це швидка доставка смачних ролів, суші та піци у
      будь-який район Львова. Наш ресторан працює вже більше 5 років,і за цей час ми встигли зарекомендувати себе як
      надійний сервіс, який працює для задоволення потреб львів’ян та гостей міста у якісній японській та італійській
      кухні.</p>
    <p>Всі страви нашого меню готуються в спеціально спроектованому приміщенні, що знаходиться в бізнес-центрі за
      адресою вул. Хуторівка, 40а. Наша кухня повністю відповідає вимогам держсанепідслужби України, що
      підтверджується наявністю експлуатаційного дозволу для об’єкта з виробництва, переробки та реалізації харчових
      продуктів №79070/19/</p>
    <p>Ми готуємо суші згідно технічних умов, розроблених для кулінарної продукції японської кухні – ТУ У 15.2 –
      01776895 – 00З:2009, що погоджені Міністерством охорони здоров’я України висновком державної
      санітарно-епідеміологічної експертизи № 05.03.02-06/39103 від 01.07.2009р. і належним чином зареєстровані в
      Укрметртестстандарті. З копіями документів можна ознайомитись нижче.</p>
    <p>Ми використовуємо тільки сертифіковані продукти, що закупляються у найкращих постачальників, ретельно контролюємо
      кожну поставку, процеси зберігання і приготування.</p>
    <p>Працівники кухні – професійні кухарі, що пройшли атестацію і необхідні санітарні обстеження.</p>
    <p>З відгуками наших клієнтів можна ознайомитись <a [routerLink]="['/vidguki']">тут</a> . Проте по-справжньому
      оцінити майстерність наших кухарів ви зможете лише після власного тестування.</p>
  </div>
</div>
