@mixin box-model($w, $h, $m:0, $p:0) {
    width: $w;
    height: $h;
    margin: $m;
    padding: $p;
}

@mixin flexbox($jc, $ai, $fd:row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}