@font-face{
    font-family: 'FuturaBookC';
    src: url('../../../assets/fonts/futurabookc.ttf');
}

@font-face{
    font-family: 'FuturaMediumC';
    src: url('../../../assets/fonts/futuramediumc.ttf');
}