@import '../shared/style/fonts.scss';

.site-content {
    padding: 50px;
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    width: 100%;
}

.admin-components {
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
    margin-right: 10px;
}

.content {
    grid-column: 3/6;
}

.link-cat {
    width: 100%;
    height: 40px;
    // border-radius: 5%;
    // outline: none;
    // border: 1px solid rgb(73, 154, 247);
    // background-color: rgb(73, 154, 247);
    color: black;
    font-family: 'FuturaMediumC';
    font-size: 18px;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
}

// .link-cat:active {
//     border-radius: 5%;
//     outline: none;
//     border: 1px solid rgb(73, 154, 247);
//     background-color: rgb(73, 154, 247);
//     color: white;
// }

.link-cat:focus {
    border-radius: 5%;
    outline: none;
    border: 1px solid rgb(73, 154, 247);
    background-color: rgb(73, 154, 247);
    color: white;
}
