<div class="article">
    <h1>ЯК ЗАМОВИТИ</h1>
    <div class="howToOrder">
        <div class="step1">
            <img src="https://origami.lviv.ua/_nuxt/9eba033.png" alt="">
            <h2><span>1</span><span>оформлення замовлення</span></h2>
            <div class="descr">
                <p>Замовити піцу , суші і роли з доставкою по Львову Ви можете щодня з 10.00 до 02.00 через сайт або за
                    телефоном. Будь ласка, <b>великі замовлення оформляйте зазделегідь</b>.</p>
            </div>
        </div>
        <div class="step2">
            <img src="https://origami.lviv.ua/_nuxt/f0ee040.png" alt="">
            <h2><span>2</span><span>оплата
                    замовлення</span></h2>
            <div class="descr">
                <p>Замовлення можна оплатити <b>на сайті</b> через систему LiqPay, або <b>готівкою</b> – кур’єру при отриманні. Якщо
                    Ви
                    плануєте розрахуватись купюрою великого номіналу, будь ласка, попередьте оператора.</p>
            </div>
        </div>
        <div class="step3">
            <img src="https://origami.lviv.ua/_nuxt/0f2e6f4.png" alt="">
            <h2><span>3</span><span>приготування
                    страв</span></h2>
            <div class="descr">
                <p>Всі страви готуються безпосередньо після Вашого замовлення, тільки зі свіжих оригінальних
                    сертифікованих
                    продуктів.</p>
            </div>
        </div>
        <div class="step4">
            <img src="https://origami.lviv.ua/_nuxt/d1f7fe9.png" alt="">
            <h2><span>4</span><span>доставка
                    за адресою</span></h2>
            <div class="descr">
                <p>Ми доставляємо замовлення <b>протягом 30-90 хв. після оформлення</b>. Час доставки залежить від Вашого
                    району і
                    дорожньої обстановки по місту.</p>
            </div>
        </div>
    </div>
    <p>Замовляйте і відпочивайте із задоволенням!</p>
</div>
