.site-content {
    width: 1200px;
    margin: auto;
}

h2 {
    width: 300px;
    display: flex;
    margin: 14px auto 19px;
    justify-content: center;
    
}

span {
    width: 112px;
    font-size: 20px;
    text-align: left;
}

.num {
    font-size: 50px;
    width: 36.41px;
}

.howToOrder {
    display: grid;
    grid-template-columns: 4fr;
    margin: 54px 0 43px;
    position: relative;

    p {
        border: 1px solid #bebebe;
        border-top: 4px solid #11c459;
        height: 100%;
        line-height: 22px;
        height: 164px;
        width: 270px;
        padding: 15px 5px 5px;
        margin: 0 auto;
        font-size: 18px;
    }
}

.step1 {
    grid-column: 1/2;
}

.step2 {
    grid-column: 2/3;
}

.step3 {
    grid-column: 3/4;
}

.step4 {
    grid-column: 4/5;
}

h1 {
    padding-bottom: 2px;
    margin: 40px auto;
    border-bottom: 5px solid #fe4c2b;
    font-size: 30px;
    width: 198px;
}

p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 22px;
}

img {
    margin: 0 80px;
}

.arr1 {
    position: absolute;
    top: 40px;
    left: 160px;
}

.arr2 {
    position: absolute;
    top: 40px;
    left: 470px;
}

.arr3 {
    position: absolute;
    top: 40px;
    right: 150px;
}
