<div class="site-content">
  <img src="https://origami.lviv.ua/image/ws6ywctr1f/znl0yq4jn72s.jpg" alt="" [style.width]="'1140px'"
    class="home-image">
  <section class="discounts">
    <h2>АКЦІЇ</h2>
    <div class="discr-item">
      <div>
        <a href=""><img src="../../../assets/images/havaj-e1590393484721-small.jpg" alt="" [style.width]="'275px'"
            class="prod-img"></a>
        <div class="disc-time">
          <p>До кінця акції:</p>
          <p class="timer-numbers">0-2:0-27:0-25</p>
        </div>
      </div>
      <div>
        <h3>
          <a href="" class="item-name">ПІЦА ГАВАЙСЬКА 30 СМ</a>
        </h3>
        <p class="description">ананас, шинка, вершки, моцарела, пармезан, спеції, соус</p>
      </div>
      <a href="" class="add-ing"><img src="../../../assets/images/ccd730c.png" alt="" [style.width]="'22px'"
          class="add"><span>додати або змінити інгредієнти</span></a>
      <div class="price">
        <div>
          <span class="sale">153 грн</span>
          <div><span class="sale-price">122 грн</span><span class="weight">500 г</span></div>
        </div>
        <button class="order">ЗАМОВИТИ</button>
      </div>
    </div>
  </section>
  <section class="rolls">
    <h2>РОЛИ</h2>
    <div class="discr-item">
      <div>
        <a href=""><img class="prod-img" src="../../../assets/images/16088144125fe48f4c088cb.jpg" alt=""
            [style.width]="'298.56px'"></a>
      </div>
      <div>
        <h3>
          <a href="" class="item-name">ТРИ СИРИ</a>
        </h3>
        <p class="description">рис, сир філадельфія, соєвий сир тофу, вершковий сир, японський майонез, кунжут</p>
      </div>
      <div class="sushi-rolls-pizza-order">
        <div>
          <p class="amount">8 шт.</p>
          <img src="../../../assets/images/f49f4da.png" alt="" [style.width]="'74px'">
        </div>
        <div class="price-order-sushi">
          <div><span class="price-sushi-rolls-pizza">98 грн</span><span class="weight">215 г</span></div>
          <button class="order">ЗАМОВИТИ</button>
        </div>
      </div>
    </div>
    <button class="other-prod"><a [routerLink]="[ '/product-category', 'rolls' ]">ПЕРЕГЛЯНУТИ ВСІ РОЛИ</a></button>
  </section>
  <section class="sets">
    <h2>СУШІ СЕТИ</h2>
    <div class="discr-item">
      <div>
        <a href=""><img class="prod-img" src="../../../assets/images/1610978997600596b5b5414.jpg" alt=""
            [style.width]="'360px'"></a>
      </div>
      <div>
        <h3>
          <a href="" class="item-name">МАКІ-АСОРТІ</a>
        </h3>
        <p class="description">«Каппа-макі», «Сяке-макі», «Унагі-макі», «Ебі-макі».</p>
      </div>
      <div class="sushi-rolls-pizza-order">
        <div>
          <p class="amount">32 шт.</p>
          <img src="../../../assets/images/f49f4da.png" alt="" [style.width]="'74px'">
        </div>
        <div class="price-order-sushi">
          <div><span class="price-sushi-rolls-pizza">346 грн</span><span class="weight">440 г</span></div>
          <button class="order">ЗАМОВИТИ</button>
        </div>
      </div>
    </div>
    <button class="other-prod"><a [routerLink]="[ '/product-category', 'sets' ]">ПЕРЕГЛЯНУТИ ВСІ СЕТИ</a></button>
  </section>
  <section class="pizza">
    <h2>ПІЦА ЛЬВІВ</h2>
    <div class="discr-item">
      <div>
        <a href=""><img class="prod-img" src="../../../assets/images/bavarska-small.jpg" alt=""
            [style.width]="'360px'"></a>
      </div>
      <div>
        <h3>
          <a href="" class="item-name">ПІЦА БАВАРСЬКА</a>
        </h3>
        <p class="description">баварські ковбаски, моцарела, пармезан, спеції, соус</p>
      </div>
      <a href="" class="add-ing"><img src="../../../assets/images/ccd730c.png" alt="" [style.width]="'22px'"
          class="add"><span>додати або змінити інгредієнти</span></a>
      <div class="pizza-order">
        <div>
          <p class="diameter">Діаметр піци, см</p>
          <div class="pizza-diameter">
            <img src="../../../assets/images/15965728935f29c4dda992c.png" alt="">
            <img src="../../../assets/images/завантаження.png" alt="">
            <img src="../../../assets/images/15965728595f29c4bbd46d3.png" alt="">
          </div>
        </div>
        <div class="price-order-sushi">
          <div><span class="price-sushi-rolls-pizza">154 грн</span><span class="weight">470 г</span></div>
          <button class="order">ЗАМОВИТИ</button>
        </div>
      </div>
    </div>
    <button class="other-prod"><a [routerLink]="[ '/product-category', 'pizza' ]">ПЕРЕГЛЯНУТИ ВСІ ПІЦИ</a></button>
  </section>
  <section class="advants">
    <h1 class="advants-header">ОРІГАМІ – БЕЗКОШТОВНА ДОСТАВКА СУШІ ЛЬВІВ</h1>
    <div class="advantages">
      <div class="advant-item">
        <img src="../../../assets/images/15965780295f29d8ed092f8.png" alt="" [style.width]="'100px'">
        <p>готуємо тільки після отримання замовлення</p>
      </div>
      <div class="advant-item2">
        <img src="../../../assets/images/15965780295f29d8ed09519.png" alt="" [style.width]="'148px'">
        <p>використовуємо тільки свіжі сертифіковані продукти</p>
      </div>
      <div class="advant-item3">
        <img src="../../../assets/images/15965780295f29d8ed0965d.png" alt="" [style.width]="'159px'">
        <p>готуємо за правильними технологіями</p>
      </div>
      <div class="advant-item4">
        <img src="../../../assets/images/15965780295f29d8ed09777.png" alt="" [style.width]="'100px'">
        <p>дотримуємось традицій</p>
      </div>
      <div class="advant-item5">
        <img src="../../../assets/images/15965780295f29d8ed0987f.png" alt="" [style.width]="'104px'">
        <p>гарантуємо відмінний смак страв</p>
      </div>
      <div class="advant-item6">
        <img src="../../../assets/images/15965780295f29d8ed09973.png" alt="" [style.width]="'100px'">
        <p>пропонуємо великі ситні порції</p>
      </div>
      <div class="advant-item7">
        <img src="../../../assets/images/15965780295f29d8ed09a2a.png" alt="" [style.width]="'169px'">
        <p>забезпечуємо зручний сервіс від замовлення до оплати</p>
      </div>
      <div class="advant-item8">
        <img src="../../../assets/images/15965780295f29d8ed09ad1.png" alt="" [style.width]="'111px'">
        <p>дійсно швидко доставляємо Ваше замовлення</p>
      </div>
    </div>
  </section>
  <section class="cat-description">
    <p><b>Орігамі – безкоштовна доставка суші у Львові</b></p>
    <p>Чи можливо знайти частинку Японії у самому Львові? Звісно! Це легко, а ще дуже смачно та швидко, адже існує
      сервіс доставки суші, чудова альтернатива екзотичній країні. Ви знайдете її у будь-якій локації свого міста.</p>
    <p>Щоб отримати максимально насолоду від смачної страви, скористайтеся можливостями швидкої доставки. Ви отримаєте
      неймовірне задоволення від споживання їжі, створеної за традиційними рецептами. Наші суші не залишать байдужим
      навіть найвибагливішого гурмана. Лише перевірені рецепти – інформація з глибини віків і, відмінний результат.</p>
    <p><b>Ідеальні інгредієнти для смачних суші</b></p>
    <p>Ми намагаємось в усьому досягти ідеалу. Особливо це важливо при виборі складових для страв з нашого меню, тож ви
      можете не турбуватися за якість їжі. Професіонали готують використовуючи лише найсвіжіші інгредієнти. Майстерність
      в поєднанні з кращими рецептами дає відмінний результат – смачні та якісні суші.</p>
    <p>Купуємо гарні, а головне, свіжі продукти у перевірених постачальників. Віддаємо перевагу виключно сертифікованим
      товарам і завжди звертаємо увагу на їх поточний стан, тому наші страви дійсно бездоганні. Чому вони так популярні?
      Велике значення має комплексний підхід:</p>
    <ul class="ul-description">
      <li>Приміщення, в яких готуються суші, проектувались саме для цієї мети. Вони відповідають строгим вимогам
        державної санепідемстанції та мають відповідні дозволи та сертифікати.</li>
      <li>Використовуємо лише якісні продукти для суші, що закуповуються у надійних постачальників, ретельно контролюємо
        процеси зберігання й приготування. Можете бути впевнені, що замовляючи їжу в компанії Орігамі, ви отримаєте
        свіжу та якісну страву, яка зроблена вручну.</li>
      <li>Готуємо суші відповідно до технічних умов, котрі розроблені для японської кухні.</li>
      <li>Працівники кухні – професійні кухарі, які пройшли атестацію і необхідні санітарні обстеження.</li>
      <li>Якісно та зручно пакуємо всі замовлення.</li>
    </ul>
    <h2>Переваги безкоштовної доставки суші у Львові Орігамі</h2>
    <ul class="ul-description">
      <li>Економія вільного часу. Зателефонуйте в компанію чи скористуйтеся можливістю здійснити замовлення через
        спеціальну форму на сайті. Ми привеземо клієнту суші додому чи в офіс, щоб він насолодився їх неперевершеним
        смаком. Ви зекономите час і зможете витратити його на більш потрібні та приємні заняття, ніж дорога та пошуки
        їжі.</li>
      <li>Різноманітність. Спробуйте декілька видів суші, не виходячи з будинку. В нашому меню ви знайдете великий вибір
        японських та інших видів страв.</li>
      <li>Економія коштів. Орігамі пропонує суші за доступними цінами.</li>
      <li>Економія сил. Відпочиньте, звільніть себе бодай на день від обов’язкової частини домашніх робіт.
      </li>
    </ul>
    <h3>Меню нашого онлайн ресторану</h3>
    <p>Компанія Орігамі готує страви за найкращими рецептами. Кожен знайде щось собі до смаку. Що ми пропонуємо:</p>
    <ul class="ul-description">
      <li>Філадельфію, Три сири, Каліфорнію, Чуку з сиром, Чикаго, Гурме, Футо сяке, гарячі роли та ще багато різних
        інших суші. Прочитати про те, що входить до складу кожного з них, ви зможете на сайті. Всі позиції ілюстровані
        світлинами.</li>
      <li>Супи та салати. Ще не куштували наших супів? Треба швидко виправляти ситуацію, бо вони в нас – справжній
        витвір кулінарного мистецтва. Шеф-кухар відмінно готує не лише суші, а й місо супи – так само, як це роблять в
        Японії. Окремо скажемо про салат Чука – від нього ви точно не зможете відірватись.</li>
      <li>Рисові чіпси – смачна та корисна альтернатива тому, що ми називаємо чіпсами картопляними. Вони не зіпсують
        вашу фігуру і порадують незвичайним смаком.</li>
      <li>Набори суші та ролів – це чудовий варіант для великої компанії і справжніх фанатів суші в м. Львів. Зараз ми
        пропонуємо клієнтам більше ніж 20 видів наборів, різних за вагою та кількістю складових.</li>
    </ul>
    <h3>Швидка безкоштовна доставка суші у Львові</h3>
    <p>Смачну і свіжу страву вам привезе кур'єр за мінімально доступний проміжок часу. В середньому на доставку
      витрачається від 30 до 60 хвилин. Достатньо обрати улюблені суші та здійснити замовлення. Згодом зателефонує
      менеджер для його підтвердження.</p>
    <p>Для нас важливо, щоб ви вчасно отримали свої страви. Комфорт клієнта завжди в пріоритеті. Він може розрахуватися
      найбільш зручним для себе способом – готівкою або через LiqPay. Готові стати ще одним шанувальником суші від
      Орігамі?</p>
    <h3>Чому треба замовляти суші саме в компанії Орігамі?</h3>
    <p>Наша компанія гарантує не лише швидку доставку страв, а й налаштована постійно радувати клієнта різноманітними
      акціями. Ознайомитися з ними можна у відповідному розділі. На вас чекають тільки приємні сюрпризи.</p>
    <p>Ми надаємо виключно правдиву інформацію, тож дивлячись на фото суші, можете бути певні, що отримаєте саме таку
      їжу. Вона свіжа та гарно підходить для того, щоб втамувати голод.</p>
    <ul class="ul-description">
      <li>Відмінний смак;</li>
      <li>Відбірні продукти;</li>
      <li>Оперативна безкоштовна доставка суші;</li>
      <li>Обслуговування найвищого класу і жодних переплат</li>
    </ul>
    <p>- ми робимо все, щоб клієнт залишився задоволеним і скористувався нашим сервісом ще далеко не один раз. Обирайте
      улюблену страву, а ми доставимо її швидко і за доступною ціною.</p>
  </section>
</div>
