@import '../../shared/style/fonts.scss';

.table {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

th {
  padding: 3px;
  border: 1px solid black;
  border-radius: 2px;
}

td {
  border: 1px solid black;
  padding: 5px;
  border-radius: 2px;
}

form {
  margin-bottom: 20px;
}

.form-com {
  display: flex;
  flex-direction: column;

  label {
    margin: 10px 0;
  }

  input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'FuturaMediumC';
    font-size: 16px;
    padding-left: 5px;
  }

  input:focus {
    border: 2px solid #7db6f7;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 0px 5px #79b8ff;
  }

  textarea {
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'FuturaMediumC';
    font-size: 16px;
    padding-left: 5px;
  }

  textarea:focus {
    border: 2px solid #7db6f7;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 0px 5px #79b8ff;
  }
}

.site-content {
  margin-left: 30px;
  font-family: 'FuturaMediumC';
  font-size: 16px;
}

.selection {
  font-family: 'FuturaMediumC';
  font-size: 16px;
  width: 200px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
}

.selection:focus {
  border: 2px solid #7db6f7;
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 0px 5px #79b8ff;
}

.add {
  margin-top: 10px;
  font-family: 'FuturaMediumC';
  font-size: 18px;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(73, 154, 247);
  background-color: rgb(73, 154, 247);
  color: white;
}

.save {
  margin-top: 10px;
  font-family: 'FuturaMediumC';
  font-size: 18px;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: 1px solid green;
  background-color: green;
  color: white;
}

.edit {
  margin-bottom: 5px;
  font-family: 'FuturaMediumC';
  font-size: 18px;
  width: 70px;
  height: 40px;
  border-radius: 3px;
  outline: none;
  border: 1px solid orange;
  background-color: orange;
}

.delete {
  font-family: 'FuturaMediumC';
  font-size: 18px;
  width: 70px;
  height: 40px;
  border-radius: 3px;
  outline: none;
  border: 1px solid red;
  background-color: red;
  color: white;
}
