<form [formGroup]="productForm" (ngSubmit)="editStatus ? updateProduct() : createProduct()">
  <div>
    <label for="title">Title</label>
    <input formControlName="title" type="text" id="title">
  </div>
  <div>
    <label for="description">Description</label>
    <textarea formControlName="description" id="description" cols="30" rows="3"></textarea>
  </div>
  <div>
    <label for="price">Price</label>
    <input formControlName="price" type="text" id="price">
  </div>
  <div>
    <label for="weight">Weight</label>
    <input formControlName="weight" type="text" id="weight">
  </div>
  <button [disabled]="productForm.invalid" type="submit" [textContent]="editStatus ? 'Save' : 'Add'"></button>
</form>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Weight</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of adminProducts; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ prod.title }}</td>
      <td>{{ prod.description | slice:0:50 }}...</td>
      <td>{{prod.price}}</td>
      <td>{{prod.weight}}</td>
      <td>
        <img [src]="prod.image" width="80px" alt="">
      </td>
      <td>
        <button (click)="editProduct(prod)">edit</button>
        <button (click)="deleteProduct(prod)">delete</button>
      </td>
    </tr>
  </tbody>
</table>
