<div class="site-content">
  <h1><span>{{ currentCategory | uppercase }} <span *ngIf="currentCategory == 'Піца'">ЛЬВІВ</span></span></h1>
  <div class="items">
    <div *ngIf="currentCategory =='Піца'" class="description">
      <div class="descrip">
        <img src="../../../assets/images/123.png" alt="">
        <p>Смачне тісто БЕЗ КОНСЕРВАНТІВ унікальної рецептури</p>
      </div>
      <div class="descrip">
        <img src="../../../assets/images/123.png" alt="">
        <p>Натуральний соус з справжніх ІТАЛІЙСЬКИХ томатів</p>
      </div>
      <div class="descrip">
        <img src="../../../assets/images/123.png" alt="">
        <p>Смакуй більше - ПЛАТИ МЕНШЕ! Вибирай 4 піци - плати за 3!</p>
      </div>
    </div>
    <div *ngIf="currentCategory =='Суші'" class="description">
      <div class="descrip">
        <img src="../../../assets/images/123.png" alt="">
        <p>Використовуємо справжній СИР ФІЛАДЕЛЬФІЯ</p>
      </div>
      <div class="descrip">
        <img src="../../../assets/images/123.png" alt="">
        <p>Готуємо БЕЗ ніяких ПІДСИЛЮВАЧІВ смаку</p>
      </div>
      <div class="descrip">
        <img src="../../../assets/images/123.png" alt="">
        <p>Оригінальний соєвий соус унікальної рецептури</p>
      </div>
    </div>
    <div *ngIf="currentCategory =='Суші сети'" class="description">
      <div class="descrip">
        <img src="../../../assets/images/123.png" alt="">
        <p>Використовуємо справжній СИР ФІЛАДЕЛЬФІЯ</p>
      </div>
      <div class="descrip">
        <img src="../../../assets/images/123.png" alt="">
        <p>Готуємо БЕЗ ніяких ПІДСИЛЮВАЧІВ смаку</p>
      </div>
      <div class="descrip">
        <img src="../../../assets/images/123.png" alt="">
        <p>Оригінальний соєвий соус унікальної рецептури</p>
      </div>
    </div>
    <div class="discr-item" *ngFor="let prod of userProduct">
      <a [routerLink]="['/products-category/'+prod.category.path, prod.id]"><img class="prod-img" [src]="prod.image"></a>
      <h3>
        <a [routerLink]="['/products-category/'+prod.category.path, prod.id]"
          routerLinkActive="router-link-active">{{prod.title}}</a>
      </h3>
      <p class="description">{{prod.description}}</p>
      <div><span class="price-sushi-rolls-pizza">{{prod.price * prod.count}} грн</span><span
          class="weight">{{prod.weight}}</span></div>
      <div class="prodCount">
        <button (click)="countProduct(prod, false)"><i class="uil uil-minus"></i></button>
        <input type="text" [(ngModel)]="prod.count">
        <button (click)="countProduct(prod, true)"><i class="uil uil-plus"></i></button>
      </div>
      <button class="order" (click)="addToCart(prod)">ЗАМОВИТИ</button>
    </div>
    <div *ngIf="currentCategory =='Піца'" class="cat-description">
      <p><b>Орігамі – найсмачніша піца у Львові</b></p>
      <p>У нашому житті все можливо, навіть знайти частинку Італії посеред самого Львова. Сервіс доставки піци – смачна
        альтернатива колоритного краю у зручний час на будь-якій локації стародавнього міста.</p>
      <p>Чи можна відмовитись від ароматної страви зі хрумкою скоринкою? А цей тягучий плавлений сир! Щоб насолодитися
        найсмачнішою піцою у себе вдома, скористайтеся швидкою доставкою з нашого онлайн-ресторану. Традиційна
        італійська страва готується за кращими класичними рецептами. Створюють цей шедевр справжні профі – піцайоло, тож
        піца не залишить вас байдужими.</p>
      <p><b>Ідеальні інгредієнти для смачної піци</b></p>
      <p>Чому наша піца найсмачніша? З першого дня ми працювали над досягненням власної цілі – зробити цю страву
        неперевершеною. Лише найсвіжіші інгредієнти і щойно спечена піца – якість для нас має значення. Звісно, щоб
        отримати страву, зроблену на вищому рівні, доводиться докласти чимало сил:</p>
      <ul class="ul-description">
        <li>підібрати борошно конкретного складу;</li>
        <li>замовити воду оптимальної жорсткості;</li>
        <li>забезпечити певний температурний режим.</li>
      </ul>
      <p>Ми купуємо свіжі сертифіковані продукти, а піцайоло створюють з них страви за перевіреними рецептами.
        Використовуємо лише найкраще, в тому числі, сучасне професійне обладнання, тому піца завжди виходить неймовірно
        апетитною. Контроль за процесом здійснює шеф-кухар. Він забезпечує всі необхідні умови для налагодженої роботи
        колективу, і страва випікається. 350оС – це багато чи мало? Цього достатньо, щоб на коржі з’явилася хрумка
        скоринка, та тісто не втратило приємної м’якості. Начинка гарно пропечеться і збереже свої корисні властивості.
      </p>
      <p>Кур'єр швидко доставить ваше замовлення. За цей час тісто стане ще більш смачним і ароматним, та все ж порадує
        хрумкими краями. Начинка охолоне до оптимальної температури, за якої буде максимально приємно споживати обрану
        страву. Клієнт відкриє теплу коробку і, відчує абсолютну гармонію, коли побачить гарну й ароматну піцу.</p>
      <p>Вже відчуваєте тепло та вагу пакунку? А цей фантастичний запах? Саме час здійснити замовлення доки уява не
        домалювала інші, не менш привабливі деталі.</p>
      <ul class="ul-description">
        <li>Тісто. Тонке та живе. Лише точні пропорції та правильне співвідношення грамів, температури і часу здатні
          зробити його супер смачним.</li>
        <li>Начинка. Якісні складові та правильне зберігання – і ніяких секретів.</li>
        <li>Моцарела. Сир має тягнутися.</li>
        <li>Соус. Найкращий томат – зроблений зі справжніх помідорів. Так-так і ніяк інакше.</li>
      </ul>
      <h2>Переваги безкоштовної доставки суші у Львові Орігамі</h2>
      <ul class="ul-description">
        <li>Економія вільного часу. Зателефонуйте в компанію чи скористуйтеся можливістю здійснити замовлення через
          спеціальну форму на сайті. Ми привеземо клієнту суші додому чи в офіс, щоб він насолодився їх неперевершеним
          смаком. Ви зекономите час і зможете витратити його на більш потрібні та приємні заняття, ніж дорога та пошуки
          їжі.</li>
        <li>Різноманітність. Спробуйте декілька видів суші, не виходячи з будинку. В нашому меню ви знайдете великий
          вибір
          японських та інших видів страв.</li>
        <li>Економія коштів. Орігамі пропонує суші за доступними цінами.</li>
        <li>Економія сил. Відпочиньте, звільніть себе бодай на день від обов’язкової частини домашніх робіт.
        </li>
      </ul>
      <h3>Меню нашого онлайн ресторану</h3>
      <p>Компанія Орігамі готує страви за найкращими рецептами. Кожен знайде щось собі до смаку. Що ми пропонуємо:</p>
      <ul class="ul-description">
        <li>Філадельфію, Три сири, Каліфорнію, Чуку з сиром, Чикаго, Гурме, Футо сяке, гарячі роли та ще багато різних
          інших суші. Прочитати про те, що входить до складу кожного з них, ви зможете на сайті. Всі позиції ілюстровані
          світлинами.</li>
        <li>Супи та салати. Ще не куштували наших супів? Треба швидко виправляти ситуацію, бо вони в нас – справжній
          витвір кулінарного мистецтва. Шеф-кухар відмінно готує не лише суші, а й місо супи – так само, як це роблять в
          Японії. Окремо скажемо про салат Чука – від нього ви точно не зможете відірватись.</li>
        <li>Рисові чіпси – смачна та корисна альтернатива тому, що ми називаємо чіпсами картопляними. Вони не зіпсують
          вашу фігуру і порадують незвичайним смаком.</li>
        <li>Набори суші та ролів – це чудовий варіант для великої компанії і справжніх фанатів суші в м. Львів. Зараз ми
          пропонуємо клієнтам більше ніж 20 видів наборів, різних за вагою та кількістю складових.</li>
      </ul>
      <h3>Швидка безкоштовна доставка суші у Львові</h3>
      <p>Смачну і свіжу страву вам привезе кур'єр за мінімально доступний проміжок часу. В середньому на доставку
        витрачається від 30 до 60 хвилин. Достатньо обрати улюблені суші та здійснити замовлення. Згодом зателефонує
        менеджер для його підтвердження.</p>
      <p>Для нас важливо, щоб ви вчасно отримали свої страви. Комфорт клієнта завжди в пріоритеті. Він може
        розрахуватися
        найбільш зручним для себе способом – готівкою або через LiqPay. Готові стати ще одним шанувальником суші від
        Орігамі?</p>
      <h3>Чому треба замовляти суші саме в компанії Орігамі?</h3>
      <p>Наша компанія гарантує не лише швидку доставку страв, а й налаштована постійно радувати клієнта різноманітними
        акціями. Ознайомитися з ними можна у відповідному розділі. На вас чекають тільки приємні сюрпризи.</p>
      <p>Ми надаємо виключно правдиву інформацію, тож дивлячись на фото суші, можете бути певні, що отримаєте саме таку
        їжу. Вона свіжа та гарно підходить для того, щоб втамувати голод.</p>
      <ul class="ul-description">
        <li>Відмінний смак;</li>
        <li>Відбірні продукти;</li>
        <li>Оперативна безкоштовна доставка суші;</li>
        <li>Обслуговування найвищого класу і жодних переплат</li>
      </ul>
      <p>- ми робимо все, щоб клієнт залишився задоволеним і скористувався нашим сервісом ще далеко не один раз.
        Обирайте
        улюблену страву, а ми доставимо її швидко і за доступною ціною.</p>
    </div>
    <div *ngIf="currentCategory =='Десерти'" class="cat-descrip">
      <p>
        Просимо звернути увагу! При виготовленні десертів використовується спеціальна технологія шокерної заморозки, що
        дозволяє заморозити виріб на довгий термін, впродовж якого при розморозці продукція абсолютно не втрачає якості.
        Саме це дозволяє виробляти продукцію, не використовуючи емульгаторів та стабілізаторів для її збереження.
        Десерти дістаються з морозильної камери суто під Ваше замовлення. Враховуючи те, що ми стараємось доставляти
        замовлення максимально швидко, десерти не завжди встигнуть повністю розморозитись, поки доїдуть до Вас! Дякуємо
        за розуміння.
      </p>
    </div>
  </div>
</div>
