<div class="site-content">
  <h1>{{ currentCategory | uppercase }}</h1>
  <div class="discr-item" *ngFor="let prod of userProduct">
    <a [routerLink]="['/products-category/'+prod.category.path, prod.id]"><img class="prod-img" [src]="prod.image" alt="" [style.width]="'298.56px'"></a>
    <h3>
      <a [routerLink]="['/products-category/'+prod.category.path, prod.id]"
      routerLinkActive="router-link-active">{{prod.title}}</a>
    </h3>
    <p class="description">{{prod.description}}</p>
    <div><span class="price-sushi-rolls-pizza">{{prod.price * prod.count}} грн</span><span class="weight">{{prod.weight}}</span></div>
    <div>
      <button (click)="countProduct(prod, false)">-</button>
      <input type="text" [(ngModel)]="prod.count">
      <button (click)="countProduct(prod, true)">+</button>
    </div>
    <button class="order" (click)="addToCart(prod)">ЗАМОВИТИ</button>
  </div>
</div>
