.discr-item {
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.site-content {
    padding: 30px;
    width: 1170px;
    display: flex;
}